/* Overall body */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #121212;
    font-family: Arial, sans-serif;
}

/* Card container CSS */
.card {
    background-color: #1E1E1E;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Picture portrait */
.avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
}

/* My name */
h2 {
    color: #FFF;
    margin: 10px 0;
}

.location {
    color: #a1ff46;
    margin: 5px 0;
}

.bio {
    color: #FFF;
    font-style: underline;
    font-size: 12px;
    margin: 15px 0;
}

/* General button display */
.buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Button text, padding and transition */
.btn {
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    color: #FFF;
    font-weight: bold;
    transition: background-color 0.3s;
}

/* Button background color */
.github {
    background-color: #3a3a3a;
    color: #FFF;
}

.mentor, .linkedin, .twitter, .instagram {
    background-color: #3a3a3a;
}

/* Hover effects */
.github:hover {
    background-color: #8ed133;
}

.mentor:hover {
    background-color: #8ed133;
}

.linkedin:hover {
    background-color: #8ed133;
}

.twitter:hover {
    background-color: #8ed133;
}

.instagram:hover {
    background-color: #8ed133;
}
